@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#adrN{ display: inline; color :red}
#mask{ display: inline;  color :red}
#First{ display: inline;  color :red}
#Last{ display: inline;  color :red}
#Broadcast{ display: inline;  color :red}
#Nb{ display: inline;  color :red}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

