@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.resultat{
    
    background-color: #c0392b;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}